/* text */
h1 {color:#23004C;
  font-size: 22px;
  font-family: Helvetica, sans-serif;
  margin:10px;
  margin-left:initial;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding:20px;
  /* border-bottom: 4px solid #525CA3; */
}


h2{
  color: #7a00e6;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style:normal;
  margin: 10px;
}

h3{
  color: #7a00e680;;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  margin: 10px;
}

h4{
  color:#23004C;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 10px;
}
p{
  /* color: #000000a9; */
  color: #232222;
  font-family: Arial;
  font-size: 14px;
  margin: 5px;
}

/* hyperlinks */

a{
  color: #7a00e6;
}

a.uri{
  color: #7a00e6;
}
a.visited{
  color: #636161;
}
a:focus{
  color: #23004C;
}
a:hover{
  color: #7a00e680;
}

/* table of contents */
.list-group-item{
  background-color:#7a00e680;
}

/* bullet points */
ul{
  list-style-type: disc;
}

li{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-right: 5px;
  color: #23004C;
}

li li{
  color: #7a00e6;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-size: 14px;
}

li li li{
  color: #7a00e680;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
}

/* header section */
/* document title */
h1.title{
  background-color:#23004C;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.author{
  color: #23004C;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
.date{
  color: #00000080;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* table of contents */

.nav-tabs li.active a{
  color:#23004C
}


/* highlight code */
.remark-code-line-highlighted{
  background-color: #ddf3359f;
}

.list-group-item{
  color: #23004C;
  background-color: #f4f2f6;
  border: #7a00e6;
}

.list-group-item.active{
  background-color: #23004C;
  border-color: white;
}

.list-group-item.active:focus{
  background-color: whitesmoke;
}

.list-group-item.active:hover{
  background-color: #7a00e680;
}

.tocify-subheader {
  background-color: #f4f2f6;
}


/* tables */
table {
  border-collapse: collapse;
  /* width:100%; */
  max-width: 100%;
}

table caption{
  color: #23004C;
}
tr:hover {background-color: #f5f5f5;}

tr:nth-child(even) {background-color: #f4f2f6;}
th {
  background-color: #23004C;
  color: whitesmoke;
  text-align: left;
  border-bottom: 1px solid #7a00e6;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
}
td {
  border-bottom: 1px solid #d8e0f754;
  color:#23004C;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  text-align: left;
  padding: 6px;
  word-wrap: break-word;
  border-bottom: 1px solid #e6e6e6;
}



/* inverse background */
.inverse{
  background-color: #23004C;
  color: #f2f2f2;
  text-shadow: #000000a9;
}

.inverse h1{
  color: #7a00e680;
  border-bottom: 4px solid #f4f2f6;
}

.inverse h2{
  color: #f4f2f6;
}

.inverse h3{
  color: #7a00e680;
}

.inverse p{
  color: #f2f2f2;
}



/* footnote */
.footnotes p{
  font-size: medium;
  color: #7a00e6;
}

.footnotes ol li{
  color: #7a00e6;
  font-size: medium;
}
